-c dep.constraints

pyarrow>=0.15.1,<16.0.0
datarobot-mlops==11.1.0
cloudpickle==2.2.1
# torch for x86_64 archtectures and linux from pypi comes with GPU support and dependencies which adds mutliple addtional GBs to the image which we don't need
# You can see find available wheels of the Meta torch repository here: https://download.pytorch.org/whl/torch/
torch @ https://download.pytorch.org/whl/cpu/torch-2.7.1%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl#sha256=8f8b3cfc53010a4b4a3c7ecb88c212e9decc4f5eeb6af75c3c803937d2d60947
transformers==4.52.1
openai==1.81.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.81
langchain-elasticsearch==0.3.2
langchain-pinecone==0.2.9
langsmith==0.7.1
optimum==1.26.1
onnxruntime==1.18.1
onnx==1.17.0
sentence-transformers==4.0.2
faiss-cpu==1.11.0
numpy==1.26.4
pandas<=2.2.3
scikit-learn==1.5.0
scipy>=1.1,<=1.12
tiktoken==0.7.0
google-cloud-aiplatform>=1.34.0,<=1.67.1
pydantic==2.11.9
pydantic-settings==2.9.1
aiofiles==23.2.1
aioboto3==13.1.1
rouge-score==0.1.2
fugashi==1.3.2
unidic-lite==1.0.8
llama-index-core==0.13.6
nemoguardrails>=0.13
nltk==3.9.1
SQLAlchemy==2.0.35
setuptools>=80.10.2
# Required for logging done in the model_execution_lib
loguru==0.7.3
pyhumps==3.8.0
pypdf>=6.6.2

httpx==0.28.1
# Keep this in sync with version in worker/pyproject.toml
datarobot-moderations==11.1.22
# A leaf dependency of moderations. The reason to pin the version is that in version 0.4.1 it starts using rust-stemmers which is licensed under GPLv3
fastembed<0.4.1

backoff>=2.2.1
pinecone==7.3.0
